html {
    background: black url(background.jpg) center center no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}

body {
    display: block;
    place-items: center;
    margin: 0;
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}
@media (min-width: 500px) { body { display: grid; } }

.Container {
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 0;
    background: rgba(14, 14, 26, 0.8);
    padding: 2rem;
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.5em;
}
@media (min-width: 500px) { .Container { margin-right: 6vw; margin-left: 6vw; padding: 3rem;}}
    header { }
        .Avatar { 
            display: block;  
            width: 141px; 
            height: auto;
            margin: 0 1em 1em 0;
            border-radius: 50%;
        }
        @media (min-width: 430px) { .Avatar { float: left; } }
        @media (min-width: 920px) { .Avatar { width: clamp(130px, 14vw, 12rem); } }
        .TitlulPaginii {
            display: block;
            font-size: clamp(2rem, 6vw, 4rem);
            line-height: 1em;
            margin: 0;
        }
        .SubtitlulPaginii {
            display: block;
            margin: 0;
            font-size: clamp(1rem, 1vw, 2rem);
            font-weight: 100;
            line-height: 1em;
            opacity: 0.5;
        }

    main {
        clear: both; 
    }
        .ListaLinkuri { 
            display: block; 
            margin: 0; 
            padding: 0;
        }
            .ListaItem { 
                display: block; 
                margin: 0; 
                padding: 0; 
                border-bottom: 1px solid #fff; 
                margin-top: 60px;
            }
                .ListaLink { 
                    display: block; 
                    padding: 0.5em; 
                    color: #fff; 
                    text-decoration: none;
                }
                .ListaLink:hover { 
                    background: white; 
                    background: rgba(3, 41, 64, 0.4); 
                    color: rgb(255, 255, 255);
                }   
                .SocialLinks { 
                    display: flex; 
                } 
                    .LinkSocial { 
                        margin: 10px;}
                    .ListaTitlu { 
                        display: block; 
                        font-size: 1em; 
                        line-height: 1.5em;
                    }
                .ListaText { 
                    display: block; 
                    font-size: 1em; 
                    line-height: 1.5em; 
                }
