html {
    background: black url(background.jpg) center center no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}

body {
    display: block;
    place-items: center;
    margin: 0;
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}


.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 3.75rem;
    background: rgb(11, 17, 32);
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.3);
}
    .Logo { 
            display: block; 
            box-shadow: 0 0.5em 0.5em; 
            color: rgba(0, 0, 0, 0.3); 
        }
        .LogoImage { 
            display: block; 
        }
    .TriggerButton { 
        display: block;  
        padding: 0.375rem; 
        margin: 0; 
        background: transparent; 
        border: none; 
        appearance: none; 
        cursor: pointer;
    }
    .MenuTrigger { 
        padding: 1.375rem; 
    }
    @media (min-width: 768px) { .MenuTrigger { display: none; } }
        .MenuTriggerImage { 
            width: 1.5rem; 
            height: 1.5rem; 
        }
    .MainMenu { 
        display: none; 
        height: 30vh; 
        padding: 1.5rem; 
        position: absolute; 
        top: 3.75rem; 
        right: 0; 
        bottom: 0; 
        left: 0; 
        background: rgba(11, 17, 32, 0.9);
    }
    @media (min-width: 768px) { .MainMenu { display: block; height: initial; padding: 0.375rem; position: inherit; } }
    .MainMenu.Active { 
        display: block; 
    }
        .MainMenuList { 
            display: block; 
            padding: 0; 
            margin: 0; 
        }
        @media (min-width: 768px) { .MainMenuList { display: flex; justify-content: space-between; } }
            .MainMenuItem { 
                display: block; 
            }
                .MainMenuItemLink { 
                    display: block; 
                    padding: 0.5em; 
                    color: rgb(242, 243, 244);
                    background: transparent; 
                    font-size: 1em; 
                    font-weight: 600; 
                    text-decoration: none;
                }
                .MainMenuItemLink:hover { 
                    color: rgb(255, 255, 255); 
                    background: rgba(3, 41, 64, 0.4);   
                }

.Container {
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 0;
    background: rgba(14, 14, 26, 0.8);
    padding: 2rem;
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.5em;
}
@media (min-width: 500px) { .Container { margin-right: 6vw; margin-left: 6vw; padding: 3rem;}}
    header { }
        .Avatar { 
            display: block;  
            width: 141px; 
            height: auto;
            margin: 0 1em 1em 0;
            border-radius: 50%;
        }
        @media (min-width: 430px) { .Avatar { float: left; } }
        @media (min-width: 920px) { .Avatar { width: clamp(130px, 14vw, 12rem); } }
        .TitlulPaginii {
            display: block;
            font-size: clamp(2rem, 6vw, 4rem);
            line-height: 1em;
            margin: 0;
        }
        .SubtitlulPaginii {
            display: block;
            margin: 0;
            font-size: clamp(1rem, 1vw, 2rem);
            font-weight: 100;
            color: #eeeeee6c;
            line-height: 1em;
        }

    main {
        clear: both; 
    }
        .ListaLinkuri { 
            display: block; 
            margin: 0; 
            padding: 0;
        }
            .ListaItem { 
                display: block; 
                margin: 0; 
                padding: 0; 
                border-bottom: 1px solid #fff; 
                margin-top: 60px;
            }
                .ListaLink { 
                    display: block; 
                    padding: 0.5em; 
                    color: #fff; 
                    text-decoration: none;
                }
                .ListaLink:hover { 
                    background: white; 
                    background: rgba(3, 41, 64, 0.4); 
                    color: rgb(255, 255, 255);
                }   
                .ListaText { 
                    display: block; 
                    font-size: 1em; 
                    line-height: 1.5em; 
                }

    footer  { }   
        .SocialLinks { 
            display: flex;
        } 
            .LinkSocial { 
                margin: 10px;
            }
            .ListaTitlu { 
                display: block; 
                font-size: 1em; 
                line-height: 1.5em;
            }             